streamlit
paho-mqtt
pandas
numpy
requests
lime
plotly
matplotlib
scikit-learn
onnxruntime
streamlit-autorefresh
pandas
numpy
scikit-learn==1.3.2
xgboost==1.7.6
matplotlib
skl2onnx
onnxmltools
onnx
onnxruntime

